<configuration>
    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- A Layout -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <!-- Root Logger : Set log level is DEBUG-->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
